@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-slate-100 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-50;
}

* {
  scrollbar-width: thin;
}
